@config "../tailwind.config.ts";
@import 'tailwindcss';

@font-face {
  font-family: 'Pretendard Variable';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/PretendardVariable.woff2') format('woff2-variations');
}

:root {
  font-family:
    'Pretendard Variable',
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    sans-serif;
}

/* 중앙 정렬용 */
.flex-center {
  @apply flex items-center justify-center;
}

/* Title Font Styles */
.title-xl {
  @apply text-[32px] font-bold;
}

.title-l {
  @apply text-[20px] font-semibold;
}

.title-l-b {
  @apply text-[20px] font-bold;
}

/* 로그인 페이지 용 */
.title-m-a {
  @apply text-[18px] font-bold;
}

/* 마이페이지 / 쪽지 / 비밀번호 변경 용 */
.title-m-b {
  @apply text-[18px] font-semibold;
}

.subTitle-l {
  @apply text-[14px] text-[#4D4D4D];
}

/* Placeholder Font Styles */

/* 로그인 페이지 용 */
.placeholder-a {
  @apply text-[14px] font-normal;
  color: #9D9D9D; 
}

.placeholder-a::placeholder {
  @apply text-[14px] font-normal;
}

/* 마이페이지 / 쪽지 / 비밀번호 변경 용 */
.placeholder-b {
  @apply text-[16px] font-normal;
}

/* 비밀번호 찾기 모달 플레이스홀더 */
.find-password-input input::placeholder {
  font-size: 14px;
  font-weight: normal;
  color: #BDBDBD;
}

/* 라벨 공통 스타일 */
.label-common {
  @apply text-[16px] font-normal text-[#121212];
}

