@config "../tailwind.config.ts";
@import 'tailwindcss';

@font-face {
  font-family: 'Pretendard Variable';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/PretendardVariable.woff2') format('woff2-variations');
}

:root {
  font-family:
    'Pretendard Variable',
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    sans-serif;
}

/* 중앙 정렬용 */
.flex-center {
  @apply flex items-center justify-center;
}

/* Title Font Styles */
.title-xl {
  @apply text-[32px] font-bold;
}

.title-l {
  @apply text-[20px] font-semibold;
}

/* 로그인 페이지 용 */
.title-m-a {
  @apply text-[18px] font-bold;
}

/* 마이페이지 / 쪽지 / 비밀번호 변경 용 */
.title-m-b {
  @apply text-[18px] font-semibold;
}

/* Placeholder Font Styles */

/* 로그인 페이지 용 */
.placeholder-a {
  @apply text-[14px] font-normal;
}

/* 마이페이지 / 쪽지 / 비밀번호 변경 용 */
.placeholder-b {
  @apply text-[16px] font-normal;
}


